<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(document).ready(function(){
   
    $("#update_ToDo").submit(function(event){
        event.preventDefault();
        console.log("inside submit-----------------");
        var unindexed_array = $(this).serializeArray();
        var data={};

        $.map(unindexed_array,function(n,i){
            data[n['name']]=n['value']
        })

        

        var request ={
            "url":`http://localhost:8080/update/${data.id}`,
            "method":"PUT",
            "data":data
        }
        
        $.ajax(request).done(function(ajaxRes){
            window.location.href = "http://localhost:8080/";
        })

     })


})
</script>



</body>
</html>
